<app-fixed-header  [fixedHeader]="fixedHeader"></app-fixed-header>

<div class="app-container">
  <ul class="app-list">
    <li>
      <div class="title">
        <h3>O que é possivel fazer no aplicativo SalesForce</h3>
        <p>Os menus de navegação, são disponibilizados no canto inferior do aplicativo...</p>
      </div>

      <div class="title" style="margin-top: 20px;">
        <h3>O que é possivel fazer no aplicativo</h3>
        <p>Para facilitar ainda mais a gestão de suas vendas, acesse as informações de venda...</p>
      </div>

      <div class="title" style="margin-top: 20px;">
        <h3>Faça seus Orçamentos no aplicativo</h3>
        <p>Sabemos que as principais funcionalidades de negociação estão no...</p>
      </div>

      <div class="title" style="margin-top: 20px;">
        <h3>Saiba quanto vendeu direto em sua mão</h3>
        <p>Graficos em tempo real de suas vendas nos últimos 5 meses...</p>
      </div>
    </li>
  </ul>

  <div style="width: 100%">
    <button (click)="redirectToWhatsApp()" mat-button class="button-green-border-white" style="width: 100%;">Conversar via Whatsapp</button>
  </div>
</div>
