<app-header></app-header>

<div class="app-container" style="margin-bottom: 100px;">
  <ul class="app-list" style="margin-top: 80px;">
    <ng-container *ngIf="skeletonOn; else contentSale">
      <li class="skeleton-item">
        <div class="title">
          <h2 class="skeleton-line" style="width: 80%;"></h2>
          <p class="skeleton-line" style="width: 60%;"></p>
        </div>

        <div class="card skeleton-card">
          <div class="card-name">
            <span class="skeleton-line" style="width: 30%;"></span>
            <span class="skeleton-line" style="width: 40%;"></span>
          </div>
        </div>

        <div class="card skeleton-card">
          <div class="card-name">
            <span class="skeleton-line" style="width: 30%;"></span>
            <span class="skeleton-line" style="width: 40%;"></span>
          </div>
        </div>
      </li>
    </ng-container>

    <ng-template #contentSale>
      <ng-container *ngIf="!appSalesCount; else dashSales">
        <p>sem dados</p>
      </ng-container>

      <ng-template #dashSales>
        <li>
          <div class="title">
            <h2>Orçamento e vendas</h2>
            <p>{{getMesEAno()}}</p>
          </div>

          <div class="card card-vendas">
            <div class="card-name">
              <span>{{appSalesCount?.sale_count || '0'}}</span>
              <span>Vendas</span>
            </div>

            <span class="card-value">{{appSalesCount?.sale_value || 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
          </div>

          <div class="card card-orcamentos">
            <div class="card-name">
              <span>{{appSalesCount?.budget_count || '0'}}</span>
              <span>Orçamentos</span>
            </div>

            <span class="card-value">{{appSalesCount?.budget_value || 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
          </div>
        </li>
      </ng-template>
    </ng-template>
  </ul>

  <ul class="app-list" style="margin-top: 10px;">
    <li style="background-color: var(--color-primary);">
      <div class="notification">
        <div class="details">
          <h2>Aprenda com a gente!</h2>
          <p>Temos uma formações completa dentro de nosso app.</p>
        </div>

        <img src="assets/notification-dash.png" alt="Ajuda">
      </div>
    </li>
  </ul>

  <div class="chart">
    <canvas #meuCanvas></canvas>
  </div>

  <ul class="app-list" style="margin-top: 20px;" routerLink="../helper">
    <li>
      <div class="help">
        <img src="assets/help.png" alt="Ajuda">
        <div class="details">
          <h2>Precisa de ajuda?</h2>
          <p>Fale com a gente pelo Whatsapp, tire suas dúvidas e acompanhe seus chamados.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
