.card-vendas {
  ::before {
    background-color: #1ed872 !important;
  }
}

.card-orcamentos {
  ::before {
    background-color: var(--color-primary) !important;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  font-size: 1.2em;

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px; /* Ajusta para quanto você quer que a borda saia */
    width: 6px; /* Largura da borda */
    height: 100%;
    background-color: #ddd; /* Cor da borda */
    border-top-right-radius: 10px; /* Arredonda o topo à direita */
    border-bottom-right-radius: 10px; /* Arredonda a parte inferior à direita */
  }

  .card-name {

    span {
      display: block;
    }
  }

  .card-value {
    font-weight: bold;
  }
}

.commision-value, .commision-date {
  padding: 10px;
  color: #fff;

  h2 {
    text-transform: uppercase;
    font-size: 0.875em;
    color: #8ab0d6;
  }

  p {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.chart {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px #c9d3dd66;
  padding: 10px;
}


.help {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 120px;
    margin-right: 20px;
  }

  .details {
    color: var(--color-primary);
    h2 {
      font-size: 1.2em;
    }
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  img {
    max-width: 120px;
    margin-right: 20px;
    position: absolute;
    right: -30px;
  }

  .details {
    color: #fff;

    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    p {
      max-width: 70%
    };
  }
}

.skeleton-item {
  background: #e0e0e0; /* Cor de fundo do loader */
  border-radius: 15px; /* Bordas arredondadas */
  margin-bottom: 20px; /* Espaçamento entre os loaders */
  padding: 20px; /* Padding interno */
}

.skeleton-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  background-color: #90979e; /* Cor de fundo do skeleton */
  animation: pulse 1.5s infinite; /* Animação de pulsação */
}

.skeleton-line {
  background-color: #90979e; /* Cor de fundo das linhas */
  border-radius: 4px; /* Arredondar as bordas */
  height: 1em; /* Altura padrão para as linhas */
  margin: 0.5em 0; /* Margem superior e inferior */
  animation: pulse 1.5s infinite; /* Animação de pulsação */
}

.skeleton-name {
  flex: 1; /* Permite que a linha ocupe espaço disponível */
}

.skeleton-value {
  width: 100px; /* Largura fixa para o valor */
  height: 1.5em; /* Altura do valor */
  background-color: #90979e; /* Cor do fundo */
  border-radius: 4px; /* Arredondar as bordas */
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}


