<footer *ngIf="activeFooterRouter()">
  <ul>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="dashboard">
        <mat-icon>home</mat-icon>
      </button>
    </li>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="sale">
        <mat-icon>store</mat-icon>
      </button>
    </li>
    <li class="insert">
      <button routerLinkActive="active" mat-icon-button routerLink="shopping-cart">
        <mat-icon>add</mat-icon>
      </button>
    </li>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="charts">
        <mat-icon>bar_chart_4_bars</mat-icon>
      </button>
    </li>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="reports">
        <mat-icon>receipt</mat-icon>
      </button>
    </li>
  </ul>
</footer>
