<footer *ngIf="activeFooterRouter()">
  <ul>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="sale">
        <mat-icon>store</mat-icon>
      </button>
    </li>
    <li class="insert">
      <button routerLinkActive="active" mat-icon-button routerLink="shopping-cart">
        <mat-icon>add</mat-icon>
      </button>
    </li>
    <li>
      <button routerLinkActive="active" mat-icon-button routerLink="my-profile">
        <mat-icon>person</mat-icon>
      </button>
    </li>
  </ul>
</footer>
