<header>
  <div class="nav">
    <div class="hello">
      <h3>{{getGreeting()}},</h3>
      <h1>{{getFisrtName()}}</h1>
    </div>

    <ul>
      <li>
        <button mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon>mode_comment</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button routerLink='../my-profile'>
          <mat-icon>person</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</header>
