<app-fixed-header  [fixedHeader]="fixedHeader"></app-fixed-header>

<div class="app-container">
  <ul class="app-list" style="margin-top: 70px;">
    <li *ngFor="let product of ShoppingCart?.products">
      <div class="title">
        <h3>{{ product?.shop?.name || product?.description || product?.product?.name }}</h3>
      </div>

      <div class="description-values">
        <span>Marca:</span>
        <span>{{ product?.product?.brand?.name || '...'}}</span>
      </div>

      <div class="insert-remove-item">
        <button class="remove-button" mat-icon-button (click)="removeProduct(product)"><mat-icon>remove</mat-icon></button>
        <input class="transparent-input t-al-center"[value]="getAmount(product)" (change)="changeAmount(product, $event)" type="number"/>
        <button class="insert-button" mat-icon-button (click)="addProduct(product)"><mat-icon>add</mat-icon></button>
      </div>
    </li>
  </ul>

  <div class="search-and-select">
    <button mat-button class="button-blue-border-white" routerLink="../products"><mat-icon>add</mat-icon> Adicionar mais itens</button>
  </div>

  <ul class="app-list" style="margin-top: 10px; border-bottom: 1px solid rgba(149, 149, 149, 0.4)">
    <div class="selection-title">
      <mat-icon>person</mat-icon>
      <span class="title-text">Dados do cliente</span>
    </div>

    <div class="product-obs" *ngIf="!ShoppingCart?.people">
      <input type="text" (input)="setClientDescription($event)" [(ngModel)]="ShoppingCart.client_description" maxlength="100" placeholder="Descrição do cliente.">
    </div>

    <div class="search-and-select" *ngIf="!ShoppingCart?.people">
      <button mat-button class="button-blue-border-white" routerLink="../people"><mat-icon>add</mat-icon> Selecionar cliente</button>
    </div>

    <li class="details-people" *ngIf="ShoppingCart?.people">
      <div class="title">
        <h3>{{ ShoppingCart.people.name }}</h3>
        <p>{{ ShoppingCart.people.fantasy_name || '' }}</p>
      </div>
      <div class="description-values" style="border: none; padding-bottom: 0;">
        <span class="value">CNPJ: <b>{{ ShoppingCart.people.document | mask: ShoppingCart.people.people_type == 0 ? '000.000.000-00' : '00.000.000/0000-00'}}</b></span>
      </div>
    </li>

    <div class="remove-selected" *ngIf="ShoppingCart?.people" (click)="removePeople()">
      <h4>- Remover cliente selecionado</h4>
    </div>

    <div class="selection-title">
      <mat-icon>directions_car</mat-icon>
      <span class="title-text">Dados do veículo</span>
    </div>

    <div class="product-obs" *ngIf="!ShoppingCart?.vehicle">
      <input type="text" (input)="setVehicleDescription($event)" [(ngModel)]="ShoppingCart.vehicle_description" maxlength="100" placeholder="Descrição do veículo.">
    </div>

    <div class="search-and-select" *ngIf="ShoppingCart?.people && !ShoppingCart?.vehicle">
      <button mat-button class="button-blue-border-white" routerLink="../vehicles"><mat-icon>add</mat-icon> Selecionar veiculo</button>
    </div>

    <li class="details-people" *ngIf="ShoppingCart?.vehicle">
      <div class="title">
        <h3>{{ ShoppingCart.vehicle.model }}</h3>
        <p>{{ ShoppingCart.vehicle.brand || '' }}</p>
      </div>
      <div class="description-values" style="border: none; padding-bottom: 0;">
        <span class="value">Placa: <b>{{ ShoppingCart.vehicle.license_plate }}</b></span>
      </div>
    </li>

    <div class="remove-selected" *ngIf="ShoppingCart?.vehicle" (click)="removeVehicle()">
      <h4>- Remover veiculo selecionado</h4>
    </div>
  </ul>

  <div class="btn-add" style="width: 100%; margin-bottom: 90px;">
    <button mat-button class="button-green-border-white" style="width: 100%;" (click)="finalizeOrder()"><mat-icon>check_circle</mat-icon> Finalizar pedido</button>
  </div>
</div>

<div class="overlay" *ngIf="showDialogSync" (click)="showDialogSync = false"></div>
<div class="dialog" *ngIf="showDialogSync">
  <h3>Remover do Carrinho</h3>
  <ul class="sale-details">
    <li>
      <span style="opacity: 0.4;">Produto</span>
      <span>{{(productSelected?.shop?.name || productSelected?.description) || 'Sem descrição'}}</span>
    </li>
  </ul>
  <div class="dialog-actions">
    <button mat-button class="button-blue-border-white" style="width: 40%;" (click)="showDialogSync = false">Cancelar</button>
    <button mat-button class="button-green-border-white" style="width: 40%;" (click)="deleteProduct()">Confirmar</button>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
