.order-totais {
  width: 100%;
  margin: 0px;
  display: flex;
  padding: 15px;
  list-style: none;
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
  border-top: 1px solid rgba(149, 149, 149, 0.4);
  flex-direction: column;

  li {
    display: flex;
    font-size: 0.875rem;
    align-items: center;
    font-weight: 300;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
  }


  .order-totais-total {
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.discont {
  display: flex;
  justify-content: flex-end;

  input {
    border: 1px solid #e6e6e6;
    height: 37px;
    padding: 0px 15px;
    border-radius: 0.5rem;
    width: 30%;
  }
}

.payment-discont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;

  button:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  button:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .active-discont {
    color: #fff;
    background: var(--color-primary) none repeat scroll 0% 0%;
  }

  button {
    border: 1px solid #e6e6e6;
    font-size: 14px;
    font-weight: 400;
    padding: 9px;
    width: 40px;
    text-align: center;
    height: auto;
    margin-top: 0;
    background-color: #fff;
    color: #000;
  }
}

.selection-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: row;

  .title-text {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
  }
}

.remove-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #db4a6e;
  cursor: pointer;
  padding-bottom: 10px;
}

.product-obs {
  width: 100%;
  display: flex;
  flex-direction: column;

  .product-obs-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;

    .product-obs-title-text {
      flex: 1;
      font-size: 16px;
      font-weight: 500;
    }
  }

  textarea, input {
    width: 100%;
    border: 1px solid rgba(149, 149, 149, 0.4);
    resize: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 6px;
  }
}

.selected-status {
  border-bottom: 1px solid #c9d3dd;

  h2 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
  }
}

select {
  border-radius: 4px;
  border: 1px solid #c9d3dd;
  display: block;
  background: #fff;
  width: 100%;
  padding: 10px;
  font-family: "Product Sans";
  font-weight: 400;
  color: #575757;
  font-size: 14px;
  margin-bottom: 15px;

  &:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%),
    0 0 6px hsl(0deg 0% 61% / 60%);
  }
}

/* Estilos para o fundo escurecido */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  z-index: 101;
  transform: translateY(100%);
  animation: slide-up 0.4s forwards;
}

/* Animação de subida */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Estilos para os botões */
.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.sale-details {
  background: #f1f4f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;

  li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}

